@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');


:root {
    --gap: 5%;
    --radius: 10px;
    --font-family: "Libre Baskerville", serif;
}

body {
    font-family: var(--font-family);
}

div.post-meta {
    margin-top: 2ch;
    margin-bottom: 8ch;
}

body.list nav.nav {
    display: none;
}

body.list .main {
    min-height: calc(100vh - var(--footer-height));
}

#top > header > nav > div > a > img {
    display: none;
}

#top > main > article.first-entry.home-info {
    padding: var(--gap);
}

.footer a,
.footer a:hover {
    border-bottom: none;
}